/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3e5d8;
  font-family: 'Outfit', sans-serif;
  color: #5f4b44;
  line-height: 1.6;
}

main {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
}

header img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

h1, h2, h3 {
  font-family: 'Young Serif', serif;
}

h1 {
  font-size: 2.5rem;
  color: #312a29;
  font-weight: 400;
  margin-bottom: 15px;
}

h2 {
  color: #8b4513;
  font-size: 1.75rem;
  margin-bottom: 15px;
}

h3 {
  color: #7b284f;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
}

.tempo {
  background: #fff7fc;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

ul, ol {
  padding-left: 20px;
}

li {
  font-size: 0.95rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 4px;
}

ul li::before {
  
  position: absolute;
  left: -8px;
  font-size: 1.2rem;
}

.tempo ul li::before {
  color: #7b284f;
}

.ingredientes ul li::before {
  color: #8b4513;
}

ol li {
  counter-increment: step-counter;
  padding-left: 20px;
}

ol li::marker {
  color: #8b4513;
  font-weight: 600;
}

strong {
  font-weight: 600;
  color: #312a29;
}

aside {
  margin-top: 30px;
}

aside p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

aside ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e3ddd7;
  font-size: 1rem;
  font-weight: 600;
}

aside ul li span {
  min-width: 50px;
}

aside ul li span:first-child {
  text-align: left;
  color: #5f4b44;
  font-weight: 400;
}

aside ul li span:last-child {
  text-align: center;
  color: #8b4513;
  font-weight: 700;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

footer a {
  color: #7b284f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
