@charset "UTF8";

*{
  padding: 0px;
  margin: 0px;
}
body{
    background-color: black;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    width: 50vw;
    height: 50vw;
    margin: auto;
}